
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">ORSSUB</a>
    </div>
  </nav>
</header>
<main>
  <app-image-panel></app-image-panel>
  <app-services></app-services>
  <app-gallery-modal></app-gallery-modal>
  <div class="container px-4 py-4" id="icon-grid">
    <h2 class="pb-2 border-bottom">Sobre nós</h2>
    <div class="p-5 rounded">
      <p class="lead">A ORS – SUB LOCAÇÃO DE EQUIPAMENTOS E MANUTENÇÃO LTDA, é uma empresa especializada em serviço subaquático de mergulho profissional e locação de equipamentos e manutenção, devidamente reconhecida pela solidez e competência no mercado nacional. Dispomos de equipe altamente qualificada e habilitada pela Marinha do Brasil, com experiência vasta em atividades subaquáticas e marítimas de acordo com os preceitos da NORMAM-222 3º revisão da DPC da Marinha do Brasil, com o comprometimento necessário para atender com excelência, profissionalismo e segurança, além de equipamentos e maquinários, devidamente certificados pela, JVC ENGENHARIA, CONSULTORIA E CERTIFICAÇÕES SOB Nº JVC CSSM 23 – 023, que estarão disponíveis para realizar o serviço de qualidade. </p>
    </div>
  </div>
  <app-footer></app-footer>
</main>
