<div class="modal fade" id="exampleLightbox" tabindex="-1" aria-labelledby="exampleLightboxLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div id="lightboxExampleCarousel" class="carousel slide">
            <div class="carousel-inner ratio ratio-16x9 bg-dark">
              <div class="carousel-item text-center active">
                <img src="maintenance.jpg" class="img-fluid mh-100">
              </div>
              <div class="carousel-item text-center">
                <img src="diver-2.jpg" class="img-fluid mh-100">
              </div>
              <div class="carousel-item text-center">
                <img src="maintenance-3.jpg" class="img-fluid mh-100">
              </div>
              <div class="carousel-item text-center">
                <img src="maintenance-2.jpg" class="img-fluid mh-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#lightboxExampleCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#lightboxExampleCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Galeria</h2>
    <div class="container text-center py-4">
      <div class="row justify-content-center"  >
        <div class="col-md-8">
          <div class="row justify-content-center">
            <a href="#" class="col-sm-3 py-2" data-bs-toggle="modal" data-bs-target="#exampleLightbox">
              <img data-bs-target="#lightboxExampleCarousel" data-bs-slide-to="0" src="maintenance.jpg" class="img-fluid rounded">
            </a>
            <a href="#" class="col-sm-3 py-2" data-bs-toggle="modal" data-bs-target="#exampleLightbox">
              <img data-bs-target="#lightboxExampleCarousel" data-bs-slide-to="1" src="diver-2.jpg" class="img-fluid rounded">
            </a>
            <a href="#" class="col-sm-3 py-2" data-bs-toggle="modal" data-bs-target="#exampleLightbox">
              <img data-bs-target="#lightboxExampleCarousel" data-bs-slide-to="2" src="maintenance-3.jpg" class="img-fluid rounded">
            </a>
            <a href="#" class="col-sm-3 py-2" data-bs-toggle="modal" data-bs-target="#exampleLightbox">
              <img data-bs-target="#lightboxExampleCarousel" data-bs-slide-to="2" src="maintenance-2.jpg" class="img-fluid rounded">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
